html,
body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #b5b5b5;
}

.first_section {
    background-image: url(images/image1.png);
    min-height: 100%;
}

.third_section {
    background-image: url(images/image2.png);
    height: 70%;
}

.fifth_section {
    background-image: url(images/image3.png);
    height: 75%;
}

.third_section,
.first_section {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.textbg {
    background-color: black;
    padding: 20px;
}

.second_section {
    background-color: #f4f4f4;
    color: #666;
}

.fourth_section {
    background-color: rgb(36, 29, 29);
    color: #f4f4f4;
}

.section {
    text-align: center;
    padding: 50px 80px;
}